<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.virjar.echo.meta.server.mapper.ProxyResourceMapper">
    <select id="proxyDownstreamServices" resultType="java.lang.String">
        select distinct downstream_server_id from proxy_resource
    </select>
</mapper>
